<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TP3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Boutique</display-name>
    <servlet-name>Boutique</servlet-name>
    <servlet-class>controller.Boutique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Boutique</servlet-name>
    <url-pattern>/Boutique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheProduit</display-name>
    <servlet-name>RechercheProduit</servlet-name>
    <servlet-class>controller.RechercheProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheProduit</servlet-name>
    <url-pattern>/RechercheProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPanier</display-name>
    <servlet-name>ServletPanier</servlet-name>
    <servlet-class>controller.ServletPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPanier</servlet-name>
    <url-pattern>/ServletPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Panier</display-name>
    <servlet-name>Panier</servlet-name>
    <servlet-class>controller.Panier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panier</servlet-name>
    <url-pattern>/Panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterPanier</display-name>
    <servlet-name>AjouterPanier</servlet-name>
    <servlet-class>controller.AjouterPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterPanier</servlet-name>
    <url-pattern>/AjouterPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherPanier</display-name>
    <servlet-name>AfficherPanier</servlet-name>
    <servlet-class>controller.AfficherPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherPanier</servlet-name>
    <url-pattern>/AfficherPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerPanier</display-name>
    <servlet-name>SupprimerPanier</servlet-name>
    <servlet-class>controller.SupprimerPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerPanier</servlet-name>
    <url-pattern>/SupprimerPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verification</display-name>
    <servlet-name>Verification</servlet-name>
    <servlet-class>controller.Verification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verification</servlet-name>
    <url-pattern>/Verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajouter</display-name>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>controller.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/Ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>controller.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test3</display-name>
    <servlet-name>Test3</servlet-name>
    <servlet-class>controller.Test3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test3</servlet-name>
    <url-pattern>/Test3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViderPanier</display-name>
    <servlet-name>ViderPanier</servlet-name>
    <servlet-class>controller.ViderPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViderPanier</servlet-name>
    <url-pattern>/ViderPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Commande</display-name>
    <servlet-name>Commande</servlet-name>
    <servlet-class>controller.Commande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commande</servlet-name>
    <url-pattern>/Commande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test4</display-name>
    <servlet-name>test4</servlet-name>
    <servlet-class>controller.test4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test4</servlet-name>
    <url-pattern>/test4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandeS</display-name>
    <servlet-name>CommandeS</servlet-name>
    <servlet-class>controller.CommandeS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandeS</servlet-name>
    <url-pattern>/CommandeS</url-pattern>
  </servlet-mapping>
</web-app>